## notebook that makes summary file that includes all phenotypes

In [ ]:
# papermill params 
summary_file = None
diffs = None
summary_with_diffs = None

In [1]:
import pandas as pd

In [ ]:
# summary_file = '../results/summaries/summary.csv'
# diffs = '../results/func_effect_diffs/SA26_vs_SA23_entry_diffs.csv'
# summary_with_diffs =  '../results/summaries/phenotype_summary.csv'

In [3]:
summary_file = pd.read_csv(summary_file)
diffs = pd.read_csv(diffs)

In [4]:
summary_file_with_diffs = summary_file.merge(diffs[['wildtype', 'site', 'mutant', 'difference']],how='left', on=['wildtype', 'site', 'mutant'])

In [5]:
def calculate_difference(row):
    if row['Entry in 26 linked sialic acid cells'] >= 0:
        return row['difference']
    else:
        return 0
        
summary_file_with_diffs['difference'] = summary_file_with_diffs.apply(lambda row: calculate_difference(row), axis=1)

In [9]:
summary_file_with_diffs = summary_file_with_diffs.rename(columns={"difference": "26 vs 23 26 linked sialic acid cells entry difference",}, errors="raise")

In [10]:
summary_file_with_diffs = summary_file_with_diffs[['site',
                                                   'sequential_site',
                                                   'reference_H1_site',
                                                   'region',
                                                   'wildtype',
                                                   'mutant',
                                                   'mouse sera escape',
                                                   'ferret sera escape',
                                                   'pig sera escape',
                                                   'Entry in 293T cells',
                                                   'Entry in 23 linked sialic acid cells',
                                                   'Entry in 26 linked sialic acid cells',
                                                   'pH stability',
                                                   '26 vs 23 26 linked sialic acid cells entry difference']]

,site,sequential_site,reference_H1_site,region,wildtype,mutant,mouse sera escape,ferret sera escape,pig sera escape,Entry in 293T cells,Entry in 23 linked sialic acid cells,Entry in 26 linked sialic acid cells,pH stability,26 vs 23 26 linked sialic acid cells entry difference
0,-1,6,-11,HA1,L,C,-0.027750,0.03033,-0.09663,0.3049,0.7927,0.32650,-0.01173,-0.4661
1,-1,6,-11,HA1,L,F,0.030530,0.06930,-0.04705,-0.2852,0.1734,-0.36840,NaN,0.0000
2,-1,6,-11,HA1,L,K,-0.006736,NaN,NaN,-0.1316,-0.4918,-0.06235,NaN,0.0000
3,-1,6,-11,HA1,L,Q,-0.043740,NaN,0.04340,0.2179,0.1879,-0.23300,NaN,0.0000
4,-1,6,-11,HA1,L,S,0.029930,-0.19230,0.08813,-1.7710,-1.4560,-0.70740,-0.02909,0.0000

In [16]:
summary_file_with_diffs = summary_file_with_diffs.sort_values('sequential_site')
summary_file_with_diffs.to_csv(summary_with_diffs, index=False)